[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-resources = "*"
ipdb = "*"
faker = "*"
jsonify = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
gunicorn = "*"
honcho = "*"
flask-bcrypt = "*"
pipenv = "*"
shell = "*"

[dev-packages]

[requires]
python_version = "3.8"
